.weatherDataCont
{
    background-color: blue;
    width: 400px;
    height: 100px;
    line-height: 100px;
}
.WeatherExtraInfoCont
{
    background-color: #FF7733;
    width: 40%;
    display: inline-block;
}
.WeatherTemperatureCont
{
    background-color: #FFE333;
    width: 60%;
    display: inline-block;

}
.temperature
{
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}
.temperatureType
{
    font-weight: bold;
    color: #667;
}